[submodule "sensor_prototyping"]
	path = sensor_prototyping
	url = git@github.com:AnielShri/sensor_prototyping.git
	branch = master
[submodule "h00v3r_Mechanical"]
	path = h00v3r_Mechanical
	url = git@github.com:AnielShri/h00v3r_Mechanical.git
[submodule "h00v3r_PCB"]
	path = h00v3r_PCB
	url = git@github.com:AnielShri/h00v3r_PCB.git
